<div class="flex flex-col items-center justify-start w-full h-[100dvh]">
  <div class="flex flex-col justify-between p-2 h-full w-full relative">
    <div class="flex flex-col gap-2 z-10">
      <input
        class="border border-gray-400 rounded text-right w-full"
        type="text"
        [(ngModel)]="myPeerId"
        placeholder="My peer id"
      />
      <input
        class="border border-gray-400 rounded text-right w-full"
        type="text"
        [(ngModel)]="otherPeerId"
        placeholder="Other peer id"
      />
    </div>
    <div
      class="video-container absolute w-full h-full top-0 left-0 flex justify-center items-center"
    >
      <div class="w-full h-full relative" id="dragBoundary">
        <video
          #remoteVideo
          class="remote-video w-full h-full"
          autoplay
          playsinline
        ></video>
        <video
          #localVideo
          cdkDragBoundary="#dragBoundary"
          cdkDrag
          class="local-video absolute top-20 left-2 w-1/4 rounded z-50 cursor-grab"
          autoplay
          playsinline
          [muted]="true"
        ></video>
      </div>
    </div>
    <div class="chat-container absolute bottom-16 right-0 w-full">
      <div class="chat-text overflow-auto text-sm font-bold p-2 text-border">
        @for (item of messages; track $index) { @if (item.peer==='sender') {
        <div class="text-left flex flex-col items-start pt-3">
          <div>{{ item.time | date : "d MMM y, h:mm a" }}</div>
          <div class="break-words">{{ item.message }}</div>
        </div>
        } @if (item.peer==='me') {
        <div class="text-right flex flex-col items-end pt-3">
          <div>{{ item.time | date : "d MMM y, h:mm a" }}</div>
          <div class="break-words">{{ item.message }}</div>
        </div>
        } }
      </div>
    </div>
    <div class="flex gap-2 z-10">
      @if (!callConnected) {
      <button
        class="border border-black bg-white rounded w-16"
        type="submit"
        (click)="call()"
      >
        Call
      </button>
      } @if (callConnected) {
      <button
        class="border border-black bg-white rounded w-16"
        type="submit"
        (click)="disconnect()"
      >
        Cut
      </button>
      } @if (callConnected) {
      <button
        class="border border-black bg-white rounded w-16"
        type="submit"
        (click)="toggleMute()"
      >
        {{ audioEnabled ? "Mute" : "Unmute" }}
      </button>
      <button
        class="border border-black bg-white rounded w-16"
        type="submit"
        (click)="toggleCamera()"
      >
        {{ videoEnabled ? "Disable" : "Enable" }}
      </button>
      }
      <textarea
        class="w-full border border-gray-400"
        type="text"
        [(ngModel)]="message"
        name=""
        id=""
        cols="40"
        rows="2"
      ></textarea>
      <button
        class="border border-black bg-white rounded w-16"
        type="submit"
        (click)="send()"
      >
        Send
      </button>
    </div>
  </div>
</div>
